USE [master]
GO
/****** Object:  Database [ZTDB]    Script Date: 01.06.2022 1:41:59 ******/
CREATE DATABASE [ZTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ZTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ZTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZTDB]
GO
/****** Object:  Table [dbo].[Запись]    Script Date: 01.06.2022 1:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Запись](
	[ИД_Записи] [int] IDENTITY(1,1) NOT NULL,
	[ИД_Машины] [int] NOT NULL,
	[ИД_Работнка] [int] NOT NULL,
	[ИД_Услуги] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[Сумма] [money] NOT NULL,
 CONSTRAINT [PK_Запись] PRIMARY KEY CLUSTERED 
(
	[ИД_Записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 01.06.2022 1:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[ИД_Клиента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Время] [datetime] NOT NULL,
	[Телефон] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_Клиент] PRIMARY KEY CLUSTERED 
(
	[ИД_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Машина]    Script Date: 01.06.2022 1:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Машина](
	[ИД_Машины] [int] IDENTITY(1,1) NOT NULL,
	[Марка] [nvarchar](50) NOT NULL,
	[Модель] [nvarchar](50) NOT NULL,
	[Класс] [int] NOT NULL,
 CONSTRAINT [PK_Машина] PRIMARY KEY CLUSTERED 
(
	[ИД_Машины] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Работник]    Script Date: 01.06.2022 1:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работник](
	[ИД_Работника] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Телефон] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Работник] PRIMARY KEY CLUSTERED 
(
	[ИД_Работника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 01.06.2022 1:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ИД_Услуги] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](max) NOT NULL,
	[Цена] [money] NOT NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[ИД_Услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Запись_Машина]    Script Date: 01.06.2022 1:41:59 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Запись_Машина] ON [dbo].[Запись]
(
	[ИД_Машины] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Запись_Работник]    Script Date: 01.06.2022 1:41:59 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Запись_Работник] ON [dbo].[Запись]
(
	[ИД_Работнка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Запись_Услуги]    Script Date: 01.06.2022 1:41:59 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Запись_Услуги] ON [dbo].[Запись]
(
	[ИД_Услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD  CONSTRAINT [FK_Запись_Машина] FOREIGN KEY([ИД_Машины])
REFERENCES [dbo].[Машина] ([ИД_Машины])
GO
ALTER TABLE [dbo].[Запись] CHECK CONSTRAINT [FK_Запись_Машина]
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD  CONSTRAINT [FK_Запись_Работник] FOREIGN KEY([ИД_Работнка])
REFERENCES [dbo].[Работник] ([ИД_Работника])
GO
ALTER TABLE [dbo].[Запись] CHECK CONSTRAINT [FK_Запись_Работник]
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD  CONSTRAINT [FK_Запись_Услуги] FOREIGN KEY([ИД_Услуги])
REFERENCES [dbo].[Услуги] ([ИД_Услуги])
GO
ALTER TABLE [dbo].[Запись] CHECK CONSTRAINT [FK_Запись_Услуги]
GO
USE [master]
GO
